<nav>

    <div class="flex items-center bg-orange-700 shadow-2xl h-16 ">
        <img src = "assets/logos/InterVidsLogo2.png" class="h-10 px-2 pl-3">
        <div class="w-0.5 h-16 bg-gray-200" ></div>
        <span class="px-4 font-semibold text-3xl text-white"> {{title}} </span>
        <div *ngIf="auth.user$ | async as user">
            <div *ngIf="!onProfile" (mouseenter)="toggleProfileCard()" class="absolute right-3 top-3 ">
                <span class="inline-flex text-xl font-semibold px-3 rounded-xl bg-gray-200 py-1"> 
                    <p>{{ user.fname }} </p>
                    <img src = "assets/User.png" class="h-8 pl-3"> 
                </span>
            </div>
            <div *ngIf="onProfile" (mouseleave)="toggleProfileCard()" class="px-3 rounded-xl bg-gray-200 py-1 absolute right-3 top-3 t">
                <span class="flex text-xl font-semibold"> {{ user.fname }} <img src = "assets/User.png" class="h-8 pl-3"></span>
                <div class="text-md">
                    <span class="flex "> {{ user.role }} View</span>
                    <a class="flex">Profile</a>
                    <a href="#" (click)="logout()" class="flex">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

