
<nav class="bg-orange-700 ">
    <!--LARGE SCREEN-->
    <section class=" hidden md:flex header ">
        <div class="flex items-center divide-x-2 divide-gray-300 ">
            <img src = "assets/logos/InterVidsLogo2.png" class="pr-3 h-10">
            <div class="flex">
                <div *ngFor="let section of navigation">
                    <div (click)="clickedNav(section)" class="px-3 headerElement">{{section}}</div>
                    <img src="assets/ui-icons/arrow.png"  *ngIf="section != navigation[navigation.length-1]" class="headerDivider">
                </div>
            </div>
        </div>
        <div class="flex" *ngIf="auth.user$ | async as user" (mouseenter)="toggleProfileCard()" (mouseleave)="toggleProfileCard()">
            <div class="headerElement flex justify-center w-44 px-1" >
                <p>{{user.fname}}</p>
                <img src = "assets/User.png" class="h-10 pl-3"> 
                
                <div *ngIf="onProfile" class="headerDropdownCardDesktop w-44">
                    <div class="py-1">
                        <div href="#" class="headerDropdownText">Account settings</div>
                        <a href="#" (click)="logout()" class="headerDropdownText">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--SMALL SCREEN-->
    <section class="md:hidden header">
        <div class=" headerElement xs:w-28 w-24 " (click)="mobileBack()">
            <img src="assets/ui-icons/arrow.png" class="inline-flex rotate-180 h-6 pb-1 pr-1">
            <p class="xs:text-xl text-lg">Go back</p>
        </div>

        <img class="h-10  rounded-sm" src = "assets/logos/InterVidsLogo2.png" >    

        <div class="flex justify-center headerElement  xs:w-28 w-24" (click)="toggleProfileCard()" *ngIf="auth.user$ | async as user">
            <img src = "assets/User.png" class="h-10" > 
            <div *ngIf="onProfile" class="headerDropdownCardMobile">
                <div class="headerDropdownText text-center text-xl">Your Profile</div>
                <a href="#"  (click)="logout()" class="headerDropdownText text-center text-xl">Logout</a>
            </div>
        </div>
    </section>
</nav>