<input type="file" accept=".mp4, .mkv" (change)="fileSelected($event)">
<button (click)="uploadData()">Upload</button>
<button (click)="hello()">Hello</button>

<!--<video *ngIf="upload$ | async as video" src="video.url"></video>-->
<div  *ngIf="upload$ | async as video">
  <h1>{{ video.url }}</h1>
  <video width="352" height="198" controls>
    <source src="{{ video.url }}" type="application/x-mpegURL">
  </video>
</div>

<video width="1280" height="720" controls>
  <source src="{{ src }}/test/master.m3u8" type="application/x-mpegURL">
</video>
