<div *ngIf="auth.user$ | async as user">

    <img src="assets/User.png" class="h-10 pl-3">
    <p *ngIf="!fEdit">{{ user.fname }}</p>
    <button>Edit First Name</button>
    <input *ngIf="fEdit" type="text" placeholder="{{ user.fname }}">
    <div *ngIf="fEdit">
        <button>Cancel</button> <button>Save Changes</button>
    </div>

    <p *ngIf="!lEdit">{{ user.lname }}</p>
    <button>Edit Last Name</button>
    <input *ngIf="lEdit" type="text" placeholder="{{ user.lname }}">
    <div *ngIf="lEdit">
        <button>Cancel</button> <button>Save Changes</button>
    </div>

    <br>
    <p>Change Profile Picture</p>
</div>