<div class="w-full h-screen bg-orange-700 bg-gradient-to-tr from-indigo-500 ">
    <div class="relative top-24 left-1/4  w-1/2 bg-white rounded-xl py-10 shadow-inner shadow-black ">
        <h1 class="text-4xl font-semibold text-center">Create Your Course</h1>
        <form class= "py-5">
            <ul class = "relative left-1/4 text-base">
                <li><label for="courseName" class="font-medium">Course Name</label></li>
                <li class="py-2"><input [(ngModel)]="courseName" name="courseName" id="courseName" placeholder="Enter your course name" required class=" rounded-md bg-orange-100 shadow appearance-none border font-lg w-6/12 p-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></li>
                <li>
                    <div class="card" stype="width:25rem">

                    </div>
                    <button (click) = "uploadImg()" class = "px-4 py-1 bg-indigo-400 text-xl text-white font-semibold rounded-md active:shadow-inner active:shadow-black transition duration-100">
                        Upload
                    </button>
                </li>
            </ul>
        </form>

        <div class = "text-center">
            <button (click) = "addCourse()" class = "px-4 py-1 bg-orange-700 text-xl text-white font-semibold rounded-md active:shadow-inner active:shadow-black transition duration-100">
                Create Course
            </button>
        </div>
    </div>

</div>
