
<div class="min-h-screen bg-orange-700 bg-gradient-to-tr from-indigo-500 ">
    <div *ngIf="loggedIn()" class="">
        <app-header [title]="headerTitle"></app-header>
        <div class="dotted divide-y-2 divide-gray-200">
            <h1 class="text-4xl font-bold pt-6 pl-16 pb-8 text-white  ">Your Courses</h1>
            <div *ngIf="auth.user$ | async as user"  class="text-4xl flex pl-10"> 
                <div *ngIf="courses | async as courses else newCourse">
                    <ng-container *ngTemplateOutlet="newCourse"></ng-container>
                    <div *ngFor="let course of courses" class="p-6 inline-flex">
                        <div routerLink="{{course.title}}" >
                            <app-course-card [course] = "course" [role]="user.role"> </app-course-card>
                        </div>
                    </div>
                    
                </div>
                
                <ng-template #newCourse>
                    <div *ngIf="user.role === 'Teacher'" class="p-6 inline-flex" routerLink="/add-course">
                        <app-course-card [role]="user.role"> </app-course-card>
                    </div>           
                    <div *ngIf="user.role === 'Student'" (click)="toggleDialog()" class="p-6 inline-flex">
                        <app-course-card [role]="user.role"> </app-course-card>
                        <div *ngIf="showDialog" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
                            <div class="relative w-auto my-6 mx-auto max-w-6xl">
                              <!--content-->
                              <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                                <!--header-->
                                <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                                  <h3 class="text-3xl font-semibold">
                                    Modal Title
                                  </h3>
                                  <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleDialog()">
                                    <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                                      ×
                                    </span>
                                  </button>
                                </div>
                                <!--body-->
                                <div class="relative p-6 flex-auto">
                                  <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                                    I always felt like I could do anything. That’s the main
                                    thing people are controlled by! Thoughts- their perception
                                    of themselves! They're slowed down by their perception of
                                    themselves. If you're taught you can’t do anything, you
                                    won’t do anything. I was taught I could do everything.
                                  </p>
                                </div>
                                <!--footer-->
                                <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
                                  <button (click)="toggleDialog()"class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleDialog()">
                                    Close
                                  </button>
                                  <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleDialog()">
                                    Save Changes
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="showDialog" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>



<div *ngIf="!loggedIn()">
    not logged in
</div>
