<div *ngIf="loggedIn()">
    <app-header>
    </app-header>

    <div class="pl-16"> 
        <h1 class="text-4xl font-semibold pt-8 pb-4 ">Your Courses</h1>
        <div *ngIf="auth.user$ | async as user" [ngSwitch]="user.role">        
            <div *ngSwitchCase="'Teacher'" class="text-4xl flex">
                <div *ngIf="courses | async as courses">
                    <div *ngFor="let course of courses" class="inline-block pr-5">
                        <app-course-card [course] = "course"> </app-course-card>
                    </div>
                    <button routerLink="[/home]"><div class="inline-block w-72 h-64 border-2 border-orange-700 bg-gradient-to-tr from-indigo-500">
                        <div class="relative top-3/4 h-1/4 border-black bg-orange-700 text-center text-white font-medium text-xl">Add a course</div>
                    </div></button>
                </div>
            </div>


            <div *ngSwitchCase="'Student'" class="text-4xl">
                <div *ngIf="courses | async as courses">
                    <div *ngFor="let course of courses" class="inline-block pr-5">
                        <app-course-card [course] = "course"> </app-course-card>
                    </div>
                    <button routerLink="[/home]"><div class="inline-block w-72 h-64 border-2 border-orange-700 bg-gradient-to-tr from-indigo-500">
                        <div class="relative top-3/4 h-1/4 border-black bg-orange-700 text-center text-white font-medium text-xl">Join a new course</div>
                    </div></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loggedIn()">
    not logged in
</div>
