
<div class="viewBackground" *ngIf="lecture | async as lecture">
    <app-header class="sticky top-0 z-50" (clickEvent)="navigation($event)" [navigation]="navElements" ></app-header>
    <div class="sticky top-0 z-40" >
        <div *ngIf="auth.user$ | async as user" class="h-[94vh] max-h-full flex flex-col divide-y-2 divide-gray-300">
            <!--header-->
            <div class="viewHeading my-5" *ngIf="course | async as course">
                <h1>{{lecture.title}} - {{course.title}}</h1>
                <span *ngIf="user.role == 'Student'"><h1 class="text-xl md:flex hidden" *ngIf="owner | async as owner">Course Owner: Ms. {{owner.fname}} {{owner.lname}}</h1></span>
              <span *ngIf="user.role == 'Teacher'"><h1 class="cursor-pointer hover:underline text-xl md:flex hidden" (click)="toggleSettings()">Lecture Settings</h1></span>
            </div>

            <style>
                .video-and-chat-container{
                    overflow: hidden;
                    display: flex;
                }
                .video-container {
                    overflow: hidden;
                    display: flex;
                    justify-content: space-evenly;
                }
                .video {
                    height: 100%;
                    width: 177.77777778vh; /* 100 * 16 / 9 */
                    min-width: 100%;
                    min-height: 56.25vw; /* 100 * 9 / 16 */
                }
            </style>
            <div class="video-and-chat-container py-2"  *ngIf="auth.user$ | async as user">
                <div class="video-container w-full ">
                    <video *ngIf="src" (timeupdate)="time($event)" controls controlslist="nodownload">
                        <source src="{{ src }}">
                    </video>
                </div>
                <app-chat *ngIf="showChat" [lid]="lid" [uid]="user.id" [currentTime]="currentTime" class="w-1/2 md:flex hidden"></app-chat>
                <!--Chat within video container
                <div *ngIf="showChat" class="hidden md:flex flex-col w-1/2 bg-gradient-to-tr from-gray-700 divide-y-2 divide-gray-300">
                    <p (click)="getThreads()" class="py-2 w-full flex justify-center text-2xl text-white italic">Chat Box</p>
                    <textarea class=" w-full min-h-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding transition ease-in-out" name="description" id="description" type="text"  placeholder="Type to Chat"></textarea> 
                </div>-->
            </div>


            <!--Description outside of video container-->
            <div class="hidden xs:flex justify-between items-center w-full pb-2">
                <div class="w-full sm:mx-16 mx-8 ">
                    <div class="divide-y-[1px] divide-gray-300">
                        <div class="flex items-center justify-between">
                            <h1 class="text-xl text-white font-semibold">Description</h1> 
                            <button *ngIf="showChat" (click)="toggleChat()" class="chatButton" type="button">Hide Chat</button>
                            <button *ngIf="!showChat" (click)="toggleChat()" class="chatButton" type="button">Expand Chat</button>
                        </div>
                        <div class="text-white font-normal">
                            <p class="text-lg">{{lecture.description}}</p>
                            
                            <ul class="flex justify-between italic text-sm">
                                <p *ngIf="owner | async as owner">Uploaded by: {{owner.fname}} {{owner.lname}}</p>
                                <p>Uploaded on: {{date}}</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngTemplateOutlet="lectureSettings"></ng-container>
    <div>
<div>


<style>
    .modal{
      aspect-ratio: 20/10;
      height: 26rem;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .modal2{
      aspect-ratio: 15/10;
      height: 32rem;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .header{
      flex: 0;
      width: 100%;
      border-bottom-width: 1px;
      --tw-border-opacity: 1;
      border-color: rgb(229 231 235 / var(--tw-border-opacity));
    }
    .body{
      flex: 1;
      width: 100%;
      border-bottom-width: 1px;
      --tw-border-opacity: 1;
      border-color: rgb(229 231 235 / var(--tw-border-opacity));
    }
    .footer{
      flex: 0;
      width: 100%;
    }
    .element{
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.5rem/* 8px */;
      padding-bottom: 0.5rem/* 8px */;
    }
  </style>
<ng-template #lectureSettings>
    <div *ngIf="lectureDialog" class="fade overflow-x-hidden overflow-y-auto fixed inset-0 z-50 flex justify-center items-center ">
      <form class="modal2 bg-white rounded-xl border-[1px] border-gray-300"  *ngIf="course | async as course">
        <!--Header-->
        <h1 class="header text-4xl font-semibold flex justify-center items-center py-10 ">Lecture Settings</h1>
        <!--Body-->
        <div class="body">
          
          <div class="mx-5 text-lg font-medium">
            <ul>
                <li><p *ngIf="alert" class=" flex justify-center text-red-600 py-2">{{alert}}</p></li>
                <li class="element">
                    <span>Edit Lecture Title:</span> 
                    <input #titleInput class="inputField w-2/3 p-2" name="title" id="title" type="text" placeholder="{{lecture.title}}" >
                </li>
                <li class="flex justify-between py-2">
                    <span>Edit Lecture Description:</span> 
                    <textarea [(ngModel)]="description"
                            class="w-2/3 form-control  px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid shadow-lg border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            name="description" id="description" type="text" rows="5" placeholder="{{lecture.description}}">
                    </textarea>  
                </li>

                <li class="element">
                    <span>Edit Thumbnail:</span>
                    <input #thumbInput (change)="thumbnailSelected($event)" accept="image/*" name="thumb" id="thumb" type="file" class=" inputField text-sm w-2/3" type="file">
                </li>

               <li class="element">
                <span>Delete Lecture:</span>
                <span class="w-2/3 flex justify-between">
                  <input #confirmDelete name="confirmDelete" id="confirmDelete" type="password" placeholder="Type 'Delete'" class="inputField p-2 focus:border-red-500 w-3/4">
                  <button (click)="deleteLecture(course.id, lecture.id)"  class="text-red-500 modalButton pr-3" type="button" >Confirm</button>
                </span>
              </li>            
            </ul>
          </div>
  
        </div>
        <!--Footer-->
        <div class="footer flex justify-between items-center py-5 px-6">
          <button (click)="toggleSettings()" class="text-red-500 modalButton" type="button" >Close</button>
          <button  (click)="submitSettingsChange()" class="modalButtonFilled" type="button" >Save Changes</button>
        </div>
      </form> 
    </div>
  </ng-template>