
<div class = "viewBackground " *ngIf="lecture | async as lecture">
    <app-header class="sticky top-0 z-50" (clickEvent)="navigation($event)" [navigation]="navElements" ></app-header>
    <div class="sticky top-0 z-40" >
        <div class="h-[94vh] max-h-full flex flex-col divide-y-2 divide-gray-300 ">
            <!--header-->
            <div class="viewHeading" *ngIf="course | async as course">
                <h1>{{lecture.title}} - {{course.title}}</h1>
                <h1 class="text-xl md:flex hidden" *ngIf="owner | async as owner">Course Owner: Ms. {{owner.fname}} {{owner.lname}}</h1>
            </div>

            <style>
                .video-and-chat-container{
                    overflow: hidden;
                    display: flex;
                }
                .video-container {
                    overflow: hidden;
                    display: flex;
                    justify-content: space-evenly;
                }
                .video {
                    height: 100%;
                    width: 177.77777778vh; /* 100 * 16 / 9 */
                    min-width: 100%;
                    min-height: 56.25vw; /* 100 * 9 / 16 */
                }
            </style>
            <div class="video-and-chat-container py-2"  *ngIf="auth.user$ | async as user">
                <div class="video-container w-full ">
                    <video *ngIf="src" (timeupdate)="time($event)" controls controlslist="nodownload">
                        <source src="{{ src }}">
                    </video>
                </div>
                <app-chat *ngIf="showChat" [lid]="lid" [uid]="user.id" [currentTime]="currentTime" class="w-1/2 md:flex hidden"></app-chat>
                <!--Chat within video container
                <div *ngIf="showChat" class="hidden md:flex flex-col w-1/2 bg-gradient-to-tr from-gray-700 divide-y-2 divide-gray-300">
                    <p (click)="getThreads()" class="py-2 w-full flex justify-center text-2xl text-white italic">Chat Box</p>
                    <textarea class=" w-full min-h-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding transition ease-in-out" name="description" id="description" type="text"  placeholder="Type to Chat"></textarea> 
                </div>-->
            </div>


            <!--Description outside of video container-->
            <div class="hidden xs:flex justify-between items-center w-full pb-2">
                <div class="w-full sm:mx-16 mx-8 ">
                    <div class="divide-y-[1px] divide-gray-300">
                        <div class="flex items-center justify-between">
                            <h1 class="text-xl text-white font-semibold">Description</h1> 
                            <button *ngIf="showChat" (click)="toggleChat()" class="chatButton" type="button">Hide Chat</button>
                            <button *ngIf="!showChat" (click)="toggleChat()" class="chatButton" type="button">Expand Chat</button>
                        </div>
                        <div class="text-white font-normal">
                            <p class="text-lg">{{lecture.description}}</p>
                            
                            <ul class="flex justify-between italic text-sm">
                                <p *ngIf="owner | async as owner">Uploaded by: {{owner.fname}} {{owner.lname}}</p>
                                <p>Uploaded on: {{date}}</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
<div>
