
<div class="w-[360px] h-80 
            bg-gradient-to-br from-white to-blue-500
            cursor-pointer rounded-t-sm rounded-b-xl
            hover:animateUp active:animateUp">
    <div class="h-3/4  flex justify-center items-center">
        <img *ngIf="course" class="h-[75%] rounded-xl" src="assets/default-course.png">
        <img *ngIf="!course" class="h-[75%] " src="assets/ui-icons/plus.png">
    </div>
    <div class="h-1/4 bg-orange-700  flex justify-center items-center rounded-sm ">
        <div class="text-white font-normal text-2xl pb-2">
            <div *ngIf="course">{{course.title}}</div>
            <div *ngIf="!course">
                <h4 *ngIf="role === 'Teacher'">Create a new Course</h4>
                <h4 *ngIf="role === 'Student'">Join a Course</h4>
            </div>
        </div>
    </div>
</div>