<div class="w-[360px] h-80 
            bg-gradient-to-br from-gray-700 to-white
            cursor-pointer rounded-sm
            hover:animateUp">
    <div class="h-3/4  flex justify-center items-center">
        <img *ngIf="lecture" class="h-[75%] rounded-xl" src="assets/default-lecture.png">
        <img *ngIf="!lecture" class="h-[75%] "src="assets\ui-icons\upload.png">
    </div>

    <div *ngIf="!lecture"class="h-1/4 rounded-b-sm bg-slate-900 text-white  text-xl flex justify-center items-center">Upload new Video</div>
    <div *ngIf="lecture" class="h-1/4 rounded-b-sm bg-slate-900 text-white ">
        <p class="py-3 flex justify-center pl-2 font-normal text-xl">{{lecture.title}}</p>
        <div class="flex justify-between pl-2 pr-2 font-light text-md">
            <span>Uploader: {{owner}}</span>
            <span>Date: {{ date }}</span>
        </div>
    </div>
</div>
